<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="login-page">
<div class="login-container">
    <div class="logo">
        <img src="/img/logo1.png" alt="PokeCorner Logo">
    </div>
    <h2>Connexion</h2>
    <form th:action="@{/e-commerce/login}" method="post">
        <input type="text" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Se connecter</button>
    </form>

    <div th:if="${error}" style="color:red;">
        Email ou mot de passe incorrect
    </div>


    <div th:if="${error}" style="color:red;">
        Email ou mot de passe incorrect
    </div>



    <div class="links">
        <a href="#">Mot de passe oublié ?</a>
        <a href="#">S'inscrire</a>
    </div>
</div>
</body>
</html>
