<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">PokeCorner</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<header th:replace="fragments :: navbar"></header>

<main>
    <div th:replace="fragments :: searchbar"></div>

    <th:block th:replace="${content}"></th:block>
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>