<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<!-- NAVBAR -->
<div th:fragment="navbar">
    <nav class="navbar">
        <div class="brand">
            <div class="logo">PC</div>
            <div class="site-title">
                <div class="title">PokeCorner</div>
                <div class="subtitle">Cartes • Extensions • Produits</div>
            </div>
        </div>


        <div class="nav-right">
            <a class="btn" th:href="@{/login}">Connexion</a>
            <a class="btn" th:href="@{/panier}">Panier</a>
            <button class="btn primary">Menu</button>
        </div>
    </nav>
</div>




<!-- Search bar -->
<div th:fragment="searchbar">
    <div class="search-row">
        <select class="select-type">
            <option>Cartes</option>
            <option>Boosters</option>
            <option>Accessoires</option>
        </select>


        <div class="search-input">
            <input type="text" placeholder="Rechercher une carte, extension..." />
            <button class="btn primary">Rechercher</button>
        </div>
    </div>
</div>




<!-- FOOTER -->
<div th:fragment="footer">
    <footer class="footer">
        <div class="contact">Contact : contact@pokecorner.com</div>
        <p>© 2025 PokeCorner</p>
    </footer>
</div>


</body>
</html>